<div class= 'parent'>
  <div class="content">
    <img  src="./src/assets/img/brand-logo-light.svg" class="tyro-logo img-responsive">
    <div class="tyro">
      <p>tyro</p>
    </div>
    <div class="line">
    </div>
    <div class="greeting">
      <p>Good morning</p>
    </div>

    <div class="button-holder">
      <button class="notification"></button>
      <button class="bookmark"></button>
      <button class="new-post" (click)="onClick( $event.target )">{{buttonString}}</button>
      <button class="profile"></button>
    </div>
  </div>
</div>
