
.float-window {
  width: 50%;
  border: none;
  position: relative;
  display: flex;
  text-align: center;
}

.child {
  justify-content: center;
  margin: auto;
}

.holder {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 10px;
}

.btn-holder {
  margin-top: auto;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  position: relative;
}

.btn {
  background-color: white;
  color: #1c437e;
  border: none;
  font-size: 15px;
  border-radius: 0;
  box-shadow: none;
  height: 50px;
  border-bottom: 1px solid #dbe1e9;
}


.left {
  margin: 0 0 0 -15px;
  height: 100vh;
  background-color: #1c437e;
}

.tyro-logo {
  position: absolute;
  top: 230px;
  left: 215px;
  object-fit: contain;
}

.tyro {
  position: absolute;
  top: 243px;
  left: 360px;
  font-family: LucidaGrande;
  font-size: 80px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.login {
  text-align: center;
}

.head{
  font-family: OpenSans;
  font-weight: bold;
}

.sub-head{
  font-weight: normal;
}
