.float-logo {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid red;
}

.float-window {
  width: 50%;
  border: 2px solid red;
  position: relative;
  display: flex;
  text-align: center;
}

.child {
  justify-content: center;
  margin: auto;
}

.holder {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 10px;
}

.btn-holder {
  margin-top: auto;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  position: relative;
}

.btn {
  background-color: white;
  color: #1c437e;
  border: none;
  font-size: 15px;
  border-radius: 0;
  box-shadow: none;
  height: 50px;
  border-bottom: 1px solid #dbe1e9;
}

