<div>

  <div class="float-logo">
    Float Column 1
  </div>

  <div class="float-window">

      <div class="child">
        <div class="btn-holder">

          <button [style.border-bottom]="selector === 0 ? 'solid 3px #1c437e' : ''"
                  (click)="loadLogInComponent()" class="holder btn"> Login</button>

          <button [style.border-bottom]="selector === 1 ? 'solid 3px #1c437e' : ''"
                  (click)="loadSignUpComponent()" class="holder btn"> Signup</button>

        </div>
    <app-signup *ngIf="selector===1"></app-signup>
      <app-login *ngIf="selector===0"></app-login>
    </div>
  </div>

</div>
