<app-header></app-header>
<div class="container-fluid">
  <input type="text" placeholder="Title" class="title">
  <textarea placeholder="Type something"  rows="26"    class="typeSomething"></textarea>
</div>

<div id="overlay" class="full">
  <div id="text">
    <a   (click) = "off()" ><img id="close" img src="../assets/cancel.png"></a>
    <p class="topics">Add upto 5 topics so that readers know what your post is about</p>

    <div class="form-group">

      <textarea  class="form-control" id="exampleFormControlTextarea1" class="area" rows="2"></textarea>
    </div>
    <button type="submit" (click) = "off()" class="btn publish">PUBLISH</button>


  </div>
</div>
