<div>

  <form [formGroup]="login">
    <input type="email" class="input" formControlName="email" placeholder="EMAIL">
    <span class="warn-logo "
          *ngIf="!login.get('email').valid && login.get('email').touched"
          tooltip="Email not valid" placement="bottom" ></span>
    <br>
    <input type="password" class="input" formControlName="password" placeholder="PASSWORD">
    <span class="warn-logo"
          *ngIf="!login.get('password').valid && login.get('password').touched"
          tooltip="password" placement="bottom" ></span>
  </form>

</div>

<div class="button-wrapper">
  <input type="button" class="button_blue" [disabled]="login.invalid" value="LOGIN" (click)="onSubmit()">
</div>

<div class="txt-container">

  <br>
  <h6><span>OR</span></h6>


  <button class="google button"></button>
  <button class="facebook button"></button>

</div>

