<div>
  <form [formGroup]="signUp">
    <input type="text" class="input" formControlName="name" placeholder="NAME">
    <span class="warn-logo "
          *ngIf="!signUp.get('name').valid && signUp.get('name').touched"
          tooltip="Name must be more than 2 characters long" placement="bottom" ></span>
    <input type="text" class="input" formControlName="email" placeholder="EMAIL">
    <span class="warn-logo "
          *ngIf="!signUp.get('email').valid && signUp.get('email').touched"
          tooltip="Invalid email" placement="bottom"></span>
    <input type="password" class="input" formControlName="password" placeholder="PASSWORD">
    <span class="warn-logo "
          *ngIf="!signUp.get('password').valid && signUp.get('password').touched"
          tooltip="Invalid password" placement="bottom"></span>
  </form>
</div>
<div class="button-wrapper">
  <input type="button" class="button_blue" [disabled]="signUp.invalid" value="SIGNUP" (click)="onSubmit()">
</div>

