
.input {
  background: #dbe1e9;
  padding-right: 17px;
  border-radius: 7px;
  border: none;
  position: relative;
  font-size: 13px;
  width: 350px;
  height: 35px;
  padding-left: 15px;
  margin-bottom: 18px;
  outline: none;
}

::placeholder {
  color: rgba(28, 67, 126, 0.52);
}


.button_blue {
  background: #1c437e;
  width: 100px;
  height: 30px;
  border: none;
  object-fit: contain;
  color: white;
  font-size: 10px;
  font-family: OpenSans;
  font-weight: bold;
}

.button-wrapper {
  position: center;
}

.warn-logo{
  background-image: url(src/assets/img/warningSmall.png);
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: center;
  position: absolute;
  padding-top: 12px;
  right: 95px;
  width:30px;
  height:35px;
}

@font-face {
  font-family: OpenSans;
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
}
